<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here is your new API key:</h1>
      <p>API KEY: <%= @api_key %></p>
  </body>
</html>
